apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: pg-data
  namespace: projet-backend
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
  storageClassName: standard

